<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
    
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li>Krilin - 700</li>
            <li>Goku - 15000</li>
            <li>Vegueta - 10000</li>
            <li>Picoro - 5000</li>
            
        </ul>
    </div>

    <div class="col">
        <h3>Agregar</h3>
        <hr>

        <form (ngSubmit)="agregar()">
            <input type="text" placeholder="Nombre personaje">
            <input type="number" placeholder="Valor poder">
            <button type="submit">
                Agregar
            </button>
        </form>
    </div>
</div>